.count{
    p{
        font-family: var(--font-helvicta-regular);
        font-size: var(--text-sm);
        letter-spacing: 0.08em;
        line-height: var(--line-height-default);
        color: var(--color-grey);
        padding-bottom: var(--section-spacing-sm);
    }
}

@media (max-width: 600px) {
    .count{
        p{
          
            padding-bottom: var(--section-spacing-lg) !important;
        }
    }
}