.success-page{
    .page-content{
      .page-wrapper{
        .success-page-container{
          h1{
            text-align: center;
          }
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          .emoji{
            padding-bottom: var(--section-spacing-xm);
          }
          h2{
            padding-top: var(--section-spacing-mini);
          }
          p.does-not-exits{
            font-family: var(--font-helvicta-light);
            font-weight: 500 !important;
            line-height: var(--line-height-default) !important;
            letter-spacing: var(--letter-spacing-default) !important;
            font-size: var(--text-sm);
            padding-bottom: var(--section-spacing-xm);
            padding-top: var(--section-spacing-mini);

            text-align: center;
          }
          a{
            padding-top: var(--section-spacing-xm);
          }
        }
      }
    }
  }